# PlatformIO
.pio/
.vscode/

# Credentials - nie commituj!
**/include/config.h
**/src/credentials.h

# Flutter
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/pubspec.lock

# macOS
.DS_Store
